version: 1.0
server:
  port: 8081


spring:
  jackson:
    deserialization:
      fail-on-unknown-properties: true

  datasource:
    url: jdbc:mysql://localhost:3306/jmslearn
    username: root
    password: AnkiSql#0625
    driverClassName: com.mysql.cj.jdbc.Driver

  jpa:
    show_sql: true
    hibernate:
      ddl-auto: update