<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <!-- bean definitions here -->

    <!-- bean definitions here -->
    <bean id="student_bean" class="com.pravisolutions.Student" scope="singleton">
        <property name="studentName" value="Eva Purohit"/>
    </bean>

    <bean id="classdetail_bean" class="com.pravisolutions.ClassDetail" scope="prototype">
        <property name="classID" value="1A"/>
    </bean>

</beans>